body {
  margin: 0;
  margin: 0px auto;
  overflow-x: hidden;
}

#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 60px;
  z-index: 2;
  margin-right: 50px;
  margin-top: 380px;
}

.step {
  margin-bottom: 100px;
  height: 420px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: justify;
  margin-left: 10%;
}

#graphic {
  margin: auto;
  width: 1500px;
  position: relative;
}

.vis-main {
  z-index: 1;
  width: 85%;
  height: 100%;
  margin-left: 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: inline-block;
}

#container-graphic{
  display: block;
  position: relative;
}

#vis {
  position: relative;
}

#tooltip {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  box-shadow: 0px 0px 5px #232323;
  color: white;
  padding: 6px;
  font-size: 1.1em;
  max-width: 400px;
  z-index: 100;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg circle:hover {
  cursor: pointer;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.with-bg {
  background: url(images/bg.jpg) top no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: " ";
}

.header-item {
  padding: 20px;
  border-radius: 3px;
  z-index: 100;
  box-sizing: border-box;
  max-width: calc(100% - 40px * 2);
  width: 740px;
  margin: 10px 0;
}

.header-title {
  text-align: center;
}
.header-body > p{
  margin-bottom: 2.5rem;
}
.step > div {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 3px;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
}

#section-end {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(30px / 2);
  margin-top: 150px;
  height: 100%;
  padding-top: 50px;
}

.section-stat-select {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 30px 0;
}
.section-stat-select > div {
  margin-right: 5px;
  width: 100%;
}
.autocomplete {
  width: 100%;
}

.deputy-data > p {
  margin-bottom: 5px;
}
.deputy-data > p > b {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .header-item {
    margin-right: 20px;
    margin-left: 20px;
    max-width: calc(100% - 40px);
  }

  .vis-main {
    width: 100%;
    margin-left: 0;
  }

  #graphic {
    width: 100%;
  }

  #section-end {
    max-width: calc(100% - 40px);
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0;
    display: block;
  }

  .section-stat-select {
    flex-direction: column;
    margin: 0;
  }

  .section-stat-select > div {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .step {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 230px;
    height: auto;
  }

  #sections > .step:first-child {
    height: 210px;
  }
  #sections > .step:last-child {
    margin-bottom: 550px;
  }

  #sections {
    width: 100%;
    top: 0px;
    z-index: 2;
    margin-right: 0;
  }

  .step > div {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .with-bg {
    min-height: 140px;
  }
}
